body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 9em;
  font-size: 1em;
  padding-left: 1em;
}

.name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 400%;
  position: relative;
  left: 0;
  transition: left 500ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  width: 40em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fafae5;
}

.bio h1 {
  position: absolute;
  top: 0;
}

.bioWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.work {
  width: 40em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work h1 {
  position: absolute;
  top: 0;
}

.contactWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact {
  width: 40em;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #4f515a;
}

.contact i:hover {
  color: #fafae5;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  height: 5em;
  justify-content: flex-start;
  align-items: center;
}

footer a {
  margin: 1em;
}

.showBio {
  left: -100%;
}

.showWork {
  left: -200%;
}

.showContact {
  left: -300%;
}

.hidden {
  display: none;
}

.material-icons {
  cursor: pointer;
}

body footer a.github {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
